*~
*.orig
*.la
*.lo
*.o
*.pc
.deps/
.libs/
Makefile
Makefile.in

*.o.cmd
*.ko
*.ko.cmd
*.mod.c
*.mod.o.cmd
*.mod.cmd
*.mod
*.order.cmd
*.symvers.cmd
.tmp_versions
Module.symvers
modules.order
kernel/include/linux/netfilter/ipset/ip_set_compat.h
kernel/include/linux/netfilter/ipset/ip_set_compiler.h

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/stamp-h1

/libltdl/

/debian/*

!/debian/bin/
!/debian/patches/
!/debian/source/

!/debian/changelog
!/debian/compat
!/debian/control
!/debian/copyright
!/debian/gbp.conf
!/debian/*-dkms.conf
!/debian/*-dkms.dkms
!/debian/*-dkms.docs
!/debian/*-dkms.install
!/debian/*-dkms.manpages
!/debian/*-dkms.modprobe
!/debian/ipset.docs
!/debian/ipset.install
!/debian/ipset.manpages
!/debian/ipset.postinst
!/debian/libipset-dev.install
!/debian/libipset-dev.links
!/debian/libipset13.install
!/debian/libipset13.symbols
!/debian/lintian-overrides
!/debian/rules
!/debian/watch
