[Unit]
Description=IP sets for iptables
Before=iptables.service
Before=ip6tables.service
Before=netfilter-persistent.service
Before=iptables-persistent.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/ipset-persistent start
ExecStop=/etc/init.d/ipset-persistent stop
EnvironmentFile=-/etc/default/ipset-persistent

[Install]
WantedBy=basic.target
